<div class="container-fluid">
    <div class="container">
        <h1>MongoDB with Express</h1>
        <hr>
    </div>
    <div class="container-fluid cards-wrapper">
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Load Data</h3>
                </div>
                <hr>
                <div class="card-body" id="load-data">
                    <a href="/getData" id="load-data">Load Data</a>
                    <div class="entry-container">
                        {{# each items}}
                            <div class="item-wrapper">
                                <div><label>Id: </label> {{this._id}}</div>
                                <div><label>Name: </label>{{this.name}}</div>
                                <ul>
                                    <div class="heading-list">List of To-Do things</div>
                                    
                                    {{# each this.item}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{!-- <div>List: {{this.item}}</div> --}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Insert Data</h3>
                </div>
                <hr>
                <div class="card-body">
                    <form class="form" method="post" action="/insert">
                        <div class="form-group">
                            <input type="text" name="name" id="name" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-group" id="list-container">
                            <label for="list">List Items</label>
                            <input type="text" placeholder="Item" id="list-input" class="list_item" name="listItem">
                        </div>
                        <div class="btn-wrapper">
                            <button type="submit" name="submit" id="submit" class="btn">Submit</button>
                        </div>
                    </form>
                    <div class="btn-wrapper" style="padding-top:0; position:absolute; top:176.65px; left:55%" id="add-button-wrapper">
                        <button id="add" class="btn" onclick="add()">Add More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Update Data</h3>
                </div>
                <hr>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Delete Data</h3>
                </div>
                <hr>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>