<div class="container-fluid">
    <div class="container">
        <h1>MongoDB with Express</h1>
        <hr>
    </div>
    <div class="container-fluid cards-wrapper">
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Load Data</h3>
                </div>
                <hr>
                <div class="card-body" id="load-data">
                    <a href="/getData" id="load-data">Load Data</a>
                    <div class="entry-container">
                        {{# each items}}
                            <div class="item-wrapper">
                                <div><label>Id: {{this._id}}</div>
                                <div>Name: {{this.name}}</div>
                                <ul>
                                    <div class="heading-list">List of To-Do things</div> 
                                    {{# each this.item}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{!-- <div>List: {{this.item}}</div> --}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Insert Data</h3>
                </div>
                <hr>
                <div class="card-body">
                    <form class="form" method="post" action="/insert">
                        <div class="form-group material-form">
                            <input type="text" name="name" id="name" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-group" id="add-list-container">
                            <label for="list">List Items</label>
                            <input type="text" name="listItem" placeholder="Item" id="list-input" class="list_item">
                        </div>
                        <div class="btn-wrapper">
                            <button type="submit" name="insert" id="insert" class="btn">Submit</button>
                        </div>
                    </form>
                    <div class="btn-wrapper" style="top: 176.65px;" id="add-button-wrapper">
                        <button id="add" class="btn" onclick="add(this.id)">Add More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Update Data</h3>
                </div>
                <hr>
                <div class="card-body">
                     <form class="form" method="post" action="/update">
                        <div class="form-group material-form">
                            <input type="text" name="id" id="id" required>
                            <label for="name">Id</label>
                        </div>
                        <div class="form-group material-form">
                            <input type="text" name="name" id="name" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="form-group" id="update-list-container">
                            <label for="list">List Items</label>
                            <input type="text" name="listItem" placeholder="Item" id="list-input" class="list_item">
                        </div>
                        <div class="btn-wrapper">
                            <button type="submit" name="update" id="update" class="btn">Submit</button>
                        </div>
                    </form>
                    <div class="btn-wrapper" style="top: 242.65px;" id="update-button-wrapper">
                        <button id="update" class="btn" onclick="add(this.id)">Add More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <h3>Delete Data</h3>
                </div>
                <hr>
                <div class="card-body">
                    <form class="form" method="post" action="/delete">
                        <div class="form-group material-form">
                            <input type="text" name="id" id="id" required>
                            <label for="name">Id</label>
                        </div>
                        <div class="btn-wrapper">
                            <button type="submit" name="delete" id="delete" class="btn">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>